@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin:0;
    font-family: Comfortaa, Arial, sans-serif;
}
.hidden{
    display: none;
}

#tierListContainer {
    width: 100%;
}

.tier-container {
    display: flex;
    flex-direction: column;
}



.drop-zone .placeholder {
    text-align: center;
    color: white; /* couleur pour le texte "Déposez les films ici" */
    grid-column: 1 / -1; /* s'étend sur toutes les colonnes */
}

.draggable {
    width: 100%; /* pour que les éléments prennent toute la largeur de la colonne */
    /* autres styles ... */
}

.drop-zone {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    min-height: 5rem;
    transition: background-color 0.3s ease-in-out;
}

.drop-zone.dragover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px dashed white;
}
